<div class="sidebar-wrapper">
  <div class="logo">
    Project Name
  </div>
  <ul class="sidebar-item">
    <li>
      <a routerLinkActive="active" href="javascript:void(0)" [routerLink]="['ROUTEPATH']">
        <span>Home</span>
      </a>
    </li>
    <li>
      <a routerLinkActive="active" href="javascript:void(0)" [routerLink]="['ROUTEPATH']">
        <span>Option1</span>
      </a>
    </li>
    <li>
      <a routerLinkActive="active" href="javascript:void(0)" [routerLink]="['ROUTEPATH']">
        <span>Option2</span>
      </a>
    </li>
    <li>
      <a routerLinkActive="active" href="javascript:void(0)" [routerLink]="['ROUTEPATH']">
        <span>Option3</span>
      </a>
    </li>
    <li>
      <a routerLinkActive="active" href="javascript:void(0)" [routerLink]="['ROUTEPATHS']">
        <span>Option4</span>
      </a>
    </li>
  </ul>
</div>
